div{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    right: 5rem;
}
div::after{
    content: '';
    display: block;
    width: 1px;
    height: 7rem;
    margin-top: 0.6rem;
    background-color: white;
}
div a {
    position: absolute;
    bottom: 14.6rem;
    color: white;
    transform: rotate(90deg);
}
div a:hover {
    transform: rotate(90deg)
    translateX(-4px);

}