div{
    z-index: -10;
}

.spot-1{
    position: fixed;
    top: 20%;
    left: 10%;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-image: linear-gradient(to right,#1d6cff, rgba(36, 255, 189, 0.705));
    animation: move1 30s infinite;
}
.spot-2{
    position: fixed;
    top: 40%;
    right: 10%;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background-image: linear-gradient(to right,#a332ff, rgba(224, 228, 6, 0.705));
    animation: move2 30s infinite;
}

.spot-3{
    position: fixed;
    bottom: 20%;
    left: 40%;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-image: linear-gradient(to right,#1768ff, rgba(207, 17, 255, 0.705));
    animation: move3 30s infinite;
}

@keyframes move1 {
    0%{
        position: fixed;
        top: 20%;
        left: 10%;
    }
    50%{
        position: fixed;
        top: 80%;
        left: 90%;
    }
    100%{
        position: fixed;
        top: 20%;
        left: 10%;
    }
}

@keyframes move2 {
    0%{
        position: fixed;
        top: 40%;
        right: 10%;
    }
    50%{
        position: fixed;
        top: 40%;
        right: 90%;
    }
    100%{
        position: fixed;
        top: 40%;
        right: 10%;
    }
}

@keyframes move3 {
    0%{
        position: fixed;
        bottom: 20%;
        left: 40%;
    }
    50%{
        position: fixed;
        bottom: 80%;
        left: 80%;
    }
    100%{
        position: fixed;
        bottom: 20%;
        left: 40%;
    }
}

