nav{
    position: fixed;
    width: 80%;
    left: 10%;
    padding: .6rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a {
    text-decoration: none;
}
nav a.brand:hover {
    transform: rotate(6deg);                
}
nav ul {
    display: flex;
    gap:  1.4rem;
}
nav li {
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
}
nav li span {
    color: rgb(var(--main));
}
nav li a:hover {
    color: rgb(var(--main));
}

.brand{
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}
span.brand-colored{
    color: rgb(var(--main));
}