section{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    padding: 0 14%;
}
section p.greeting, .job{
    color: rgb(245, 245, 245);
    font-size: 3.6rem;
    font-weight: 600;
    transition: ease .2s;
}
section p.name{
    font-size: 4rem;
    font-weight: 700;
    color: rgb(245, 245, 245);
    transition: ease .2s;
}
section p.name span{
    color: rgb(var(--main))
}
section p.intro{
    letter-spacing: .11rem;
    color: var(--dark-gray);
    filter: invert(2);
}

.bottom{
    margin-top: 4rem;
}

button{
    border-radius: .2rem;
    margin: 0 .4rem;
}

.contact{
    border: 1px solid rgb(var(--main));
    color: rgb(var(--main));

    padding: 0.8rem 1.6rem;
}

.contact:hover{
    background-color: rgb(var(--main));
    color: white;
}

.work{
    color: white;
    padding: 0.92rem 1.6rem;
}

.work:hover{
    background-color: rgb(var(--main), 0.14);
    padding: 0.92rem 1.6rem;
}

@media only screen and (max-width: 1024px) {
    .container{
        padding: 0 16%;
    }
    section p.greeting, .job{
        color: rgb(245, 245, 245);
        font-size: 3.2rem;
        font-weight: 600;
    }
    section p.name{
        font-size: 3.8rem;
        font-weight: 700;
        color: rgb(245, 245, 245);
    }
    section p.intro{
        text-align: justify;
        letter-spacing: .11rem;
        color: var(--dark-gray);
        filter: invert(2);
    }
}
@media only screen and (max-width: 930px) {
    .container{
        padding: 0 16%;
    }
    section p.greeting, .job{
        color: rgb(245, 245, 245);
        font-size: 2.8rem;
        font-weight: 600;
    }
    section p.name{
        font-size: 3.2rem;
        font-weight: 700;
        color: rgb(245, 245, 245);
    }
    section p.intro{
        text-align: justify;
        letter-spacing: .11rem;
        color: var(--dark-gray);
        filter: invert(2);
    }
}
@media only screen and (max-width: 768px) {
    .container{
        padding: 0 14%;
    }
    section p.greeting, .job{
        color: rgb(245, 245, 245);
        font-size: 2.4rem;
        font-weight: 600;
    }
    section p.name{
        font-size: 2.8rem;
        font-weight: 700;
        color: rgb(245, 245, 245);
    }
    section p.intro{
        text-align: justify;
        letter-spacing: .11rem;
        color: var(--dark-gray);
        filter: invert(2);
    }
}

@media only screen and (max-width: 640px) {
    .container{
        padding: 0 8%;
    }
    section p.greeting, .job{
        color: rgb(245, 245, 245);
        font-size: 2.4rem;
        font-weight: 600;
    }
    section p.name{
        font-size: 3rem;
        font-weight: 700;
        color: rgb(245, 245, 245);
    }
    section p.intro{
        text-align: justify;
        letter-spacing: .11rem;
        color: var(--dark-gray);
        filter: invert(2);
    }
    .contact{
        border: 1px solid rgb(var(--main));
        color: rgb(var(--main));
    
        padding: 0.8rem 1.4rem;
    }
    
    .work{
        color: white;
        padding: 0.92rem 1.4rem;
    }
}