/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

 @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
 
 :root {
  --black: 23, 23, 23;
  --gray: #b1b1b1;
  --dark-gray: #585858;
  --darker-gray: 38, 38, 38;
  --main: 59, 130, 246;
  --darker-main: 45, 113, 224;
}

html{
  scroll-behavior: smooth;
}
body {
  width: 100%;
  font-family: 'Poppins', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 0;
  margin: 0;
  background-color: rgb(var(--black));
  cursor: default;
}

::-webkit-scrollbar{
  background: none;
  width: 0.6rem;
}
::-webkit-scrollbar-thumb{
  background-color: white;
}
::-webkit-scrollbar-track{
  background-color: transparent;
}

main{
  width: 100%;
  height: fit-content;
}

.blurred{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(40px);
  z-index: -50;
}


a, p, h1, h2, h3, h4, li {
  color: white;
  transition: ease .15s;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

button{
  font-size: 1.1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: ease .2s;
}

.section-title{
  display: flex;
  align-items: center;
  gap: 0 1.2rem;
  font-family: 'Lora', serif;
  font-size: 1.4rem;
  font-weight: 600;
  margin: .2rem 0;
}
.section-title::before{
  content: '';
  display: block;
  width: 2rem;
  height: 2px;
  border-radius: .2rem;
  background-color: white;
}
.section-title::after{
  content: '';
  display: block;
  width: 2rem;
  height: 2px;
  border-radius: .2rem;
  background-color: white;
}


footer{
  color: white;
  padding: 1rem 0;
  text-align: center;
}